@model HotelSearchWebApplication.Models.HotelInfo

@{
    ViewData["Title"] = "Search a hotel";
}

<div class="container col-md-6 mx-auto text-center">

    <h1>@ViewData["Title"]</h1>

    <hr />
    <form asp-action="CheckAvailability">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group" style="text-align: center;">
            Pick a city
            <br />
            <input asp-for="City" class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        <div class="form-group" style="text-align: center;">
            Check in date
            <br />
            <input asp-for="CheckInDateRequest" class="form-control"/>
            <span asp-validation-for="CheckInDateRequest" class="text-danger"></span>
        </div>
        <div class="form-group" style="text-align: center;">
            Check out date
            <br />
            <input asp-for="CheckOutDateRequest" class="form-control" />
            <span asp-validation-for="CheckOutDateRequest" class="text-danger"></span>
        </div>
        <div class="form-group" style="text-align: center;">
            Number Of Passengers For One Room
            <br />
            <input asp-for="NumberOfPassengersForOneRoom" class="form-control" />
            <span asp-validation-for="NumberOfPassengersForOneRoom" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input class="btn btn-success" type="submit" value="Pretraži" />
        </div>
    </form>
</div>